/* --------Desktop NavBar-------- */
.desktop-nav {
  animation: fly-in-top 0.55s ease;
  margin: 0 auto;
  display: flex;
  max-width: var(--max-width);
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2.5px solid #ebebeb;
}

.brand {
  max-width: 100%;
  width: 65px;
  transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
}

.brand:hover {
  opacity: 0.65;
}

@keyframes fly-in-top {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-links {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  align-items: center;
}

.nav-links a {
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-text);
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  padding: 0.25rem 0.5rem;
}

.nav-links a:hover {
  color: var(--primary-text);
}

.login {
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
  color: white !important;
}

.login:hover {
  background-color: hsla(259, 54%, 62%, 0.7);
  border: 2px solid hsla(259, 100%, 86%, 0.7);
}

.logout {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.195rem 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
}

.logout:hover {
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

.userName {
  font-weight: 700;
}


.userPhoto {
  display: block;
  max-width: 100%;
  width: 35px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 15px -3px, rgba(0, 0, 0, 0.4) 0px 4px 6px -2px;
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}