/* --------imports-------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --------variables-------- */
:root {
  /* fonts */
  --main-font: "Quicksand", sans-serif;
  --secondary-font: "Poppins", sans-serif;

  /* dimensions */
  --max-width: 1000px;

  /* colors */
  --secondary-text: #96aab5;
  --primary-text: #403f4d;
  --accent-color: #8a69d2;
}

/* --------global styles-------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--secondary-font);
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  overflow-x: hidden;
}

/* fix for input zoom on iPhone/Safari  */
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  select,
  select:focus,
  textarea,
  textarea:focus,
  input,
  input:focus {
    font-size: 16px;
  }
}